
<div class="m-chat-wrapper">
  <m-chat-header
    [categories]="categories"
    (clickToLink)="clickToLink($event.detail)"
    (clickToCategory)="clickToCategory($event.detail)"
    (searchContact)="searchContact($event)"
  ></m-chat-header>
  <m-chat-dialogs
    [dialogs]="dialogs"
    (clickToLink)="clickToLink($event.detail)"
    (clickToCategory)="clickToCategory($event.detail)"
    (clickToDialog)="clickToDialog($event.detail)"
  ></m-chat-dialogs>
  <m-chat-footer (clickToLink)="clickToLink($event)"></m-chat-footer>
</div>
