<div class="m-chat-wrapper">
  <m-chat-header
    [categories]="categories"
    (clickToLink)="clickToLink($event.detail)"
    (clickToCategory)="clickToCategory($event.detail)"
    (clickToAddDialog)="clickToAddDialog()"
    (cancelSearchPersonal)="cancelSearchPersonal()"
    (searchDialogs)="searchDialogs($event)"
  ></m-chat-header>
  <div class="m-chat-dialogs">
    <div *ngFor="let dialog of dialogs">
      <dialog-card (clickToDialog)="clickToDialog($event)" [mess]="dialog"></dialog-card>
    </div>
  </div>
  <m-chat-footer
    (clickToShowDialogs)="clickToShowDialogs()"
    (clickToShowContacts)="clickToShowContacts()"
    (clickToShowMenuBar)="clickToShowMenuBar()"
  ></m-chat-footer>
</div>
