<div class="personal-wrapper">
  <!--  <personal-header-->
  <!--    (searchContact)="searchContact($event)"-->
  <!--    (clickToShowDialogs)="clickToShowDialogs()"-->
  <!--    (clickToUserProfile)="clickToUserProfile()"-->
  <!--    (searchPersonalMessages)="searchPersonalMessages($event)"-->
  <!--    (cancelSearchPersonal)="cancelSearchPersonal()"-->
  <!--    [message]="getMessages()"-->
  <!--  ></personal-header>-->
  <div *ngIf="!showInputSearch">
    <div class="personal-header">
      <div class="header-nav">
        <span class="custom-link" (click)="clickToShowDialogs()">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span
          class="custom-link user-name-personal"
          (click)="clickToUserProfile()"
        >
          Сайхан
        </span>
        <span class="custom-link">
          <div class="dots-menu" (click)="onClickMenuDots()">
            <i class="fas fa-ellipsis-h"></i>
          </div>
          <div class="drop-down" *ngIf="showDropDown">
            <ul>
              <li>
                <i class="fas fa-search"
                  (click)="toggleShowInputSearch()"
                ></i>
              </li>
              <li>
                <i class="fas fa-trash"></i>
              </li>
              <li>
                <i class="fas fa-share-alt"></i>
              </li>
            </ul>
          </div>
        </span>
      </div>
      <div class="users-nav">
        <div class="img-user-other">
          <div class="img online"></div>
        </div>
        <div class="img-user-other">
          <div class="img online"></div>
        </div>
        <div class="img-user-current">
          <div class="img online"></div>
        </div>
        <div class="img-user-other">
          <div class="img online"></div>
        </div>
        <div class="img-user-other">
          <div class="img online"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showInputSearch">
    <div class="search-wrapper">
      <div class="user-name-personal"
           (click)="clickToUserProfile()"
      >Сайхан</div>
      <div class="searchPersonalmess">
        <input type="text" placeholder="search" />
        <span class="cancel-search"
          (click)="turnOffShowInputSearch()"
        > cancel </span>
      </div>
    </div>
  </div>
  <personal-message [message]="getMessages()"></personal-message>
  <personal-footer [theme]="mobileTheme"></personal-footer>
</div>
