<div class="personal-wrapper">
  <personal-header
    (searchContact)="searchContact($event)"
    (clickToShowDialogs)="clickToShowDialogs()"
    (clickToUserProfile)="clickToUserProfile()"
    (searchPersonalMessages)="searchPersonalMessages($event)"
    (cancelSearchPersonal)="cancelSearchPersonal()"
    [message]="getMessages()"
  ></personal-header>
  <div class="mobile">
    <div class="personal-message">
      <div *ngFor="let message of getMessages()">
        <message-from [message]="message"></message-from>
      </div>
      <message-from
        *ngIf="getWriting?.length"
        [message]="chatConvertWritingStatusToMessage()"
      ></message-from>
    </div>
  </div>
  <!--  <personal-message [message]="getMessages()"></personal-message>-->
  <personal-footer [theme]="mobileTheme"></personal-footer>
</div>
