<div class="main-wrapper">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-1 white-col">
          <s-adam-navigate
            (visibleContacts)="showContactsOrDialogsToggle()"
            [logo]="getLogo()"
          ></s-adam-navigate>
        </div>
        <div class="col-3">
          <app-comp-dialogs
            *ngIf="showContactsOrDialogs"
            (openDialog)="navigateToPersonalChat($event)"
          >
          </app-comp-dialogs>
          <app-comp-contacts *ngIf="!showContactsOrDialogs"></app-comp-contacts>
        </div>
        <div class="col white-col">
          <section class="chat" [ngSwitch]="chatView">
            <s-adam-no-chat *ngSwitchCase="chatViewEnum.empty"></s-adam-no-chat>
            <div
              @flyInOut
              *ngSwitchCase="chatViewEnum.personal"
              class="direct-comp"
            >
              <s-adam-personal-header
                [chatActionState]="this.chatActionState"
                [chatPresenceState]="this.chatPresenceState"
                [message]="messages"
                (visibleUserProfile)="visibleProfile()"
                (searchPersonalMessage)="searchPersonalMessage($event)"
                (resetMessagesFilter)="resetMessagesFilter()"
              >
              </s-adam-personal-header>
              <div class="chat-messages">
                <div *ngFor="let message of getMessages()">
                  <message-from [message]="message"></message-from>
                </div>
                <message-from
                  *ngIf="getWriting?.length"
                  [message]="chatConvertWritingStatusToMessage()"
                ></message-from>
                <div *ngIf="!getWriting?.length"></div>
              </div>
              <personal-footer></personal-footer>
            </div>
          </section>
        </div>
        <!--        <div class="col-3" @flyInOut *ngIf="getProfileVisible()">-->
        <!--          <s-adam-profile clickToShowFolders={() => this.clickToShowFoldersHandler()}></s-adam-profile>-->
        <!--        </div>-->

        <!--        <user-folders-->
        <!--          clickToUserProfile={() => this.clickOnUserProfile()}-->
        <!--        createFolder={(e: CustomEvent<ChatCreateFolderOutputInterface>) =>-->
        <!--              this.createFolderHandler(e.detail)-->
        <!--        }-->
        <!--        dialogs={dialogs}-->
        <!--        theme={"comp"}-->
        <!--        ></user-folders>-->
      </div>
    </div>
  </main>
</div>
