<main>
  <div class="container">
    <div class="row">
      <div class="col-1">
        
        <s-adam-navigate [logo]="getLogo()" [navItems]="getNavItems()"></s-adam-navigate>
      </div>
      <div class="col-3">
        <s-adam-contacts
          [dialogs]="getDialogs()"
          (clickToLink)="clickToLink($event)"></s-adam-contacts>
        <s-adam-contacts [dialogs]="getDialogs()">
        </s-adam-contacts>
      </div>
      <div class="col">
        <section class="chat">
          <s-adam-no-chat *ngIf="getDialogVisible()"></s-adam-no-chat>
          <s-adam-direct
            (clickOnUsername)="toggleProfile($event)"
            [message]="getMessages()"
            *ngIf="!getDialogVisible()"
          >
          </s-adam-direct>
        </section>
      </div>
      <div class="col-3" *ngIf="getProfileVisible()">
        <s-adam-profile></s-adam-profile>
      </div>
    </div>
  </div>
</main>

