<!--<s-saqhan-chat-app-->
<!--  [messages]="getDialogs()"-->
<!--  [personalMessage]="getPersonalMessage$() | async"-->
<!--  (clickToLink)="clickToLink($event)"-->
<!--&gt;</s-saqhan-chat-app>-->

<div class="wrapper-modal">
  <div class="wrapper-chat" *ngIf="moduleVisible">
    <div [ngSwitch]="selectChat()">
      <div *ngSwitchCase="1">
        <module-header (onClose)="closeModule()"></module-header>
        <s-saqhan-chat-form-search (searchContact)="searchDialogs($event)"></s-saqhan-chat-form-search>
        <div class="chat-wrap">
          <s-saqhan-chat-users [messages]="getDialogs()"(personalMessage)="getPersonalMessage()" ></s-saqhan-chat-users>
        </div>
        <s-saqhan-chat-add-question></s-saqhan-chat-add-question>
      </div>
      <div *ngSwitchCase="2">
        <div class="personal-wrapper">
          <personal-header
            (clickToLink)="clickToLink($event)"
            (searchContact)="searchContact($event)"
            [messageMock]="getMessages()"
          ></personal-header>
          <personal-message
            (clickToLink)="clickToLink($event)"
            [messageMock]="getMessages()"
          ></personal-message>
          <personal-footer [theme]="mobileTheme" (clickToLink)="clickToLink($event)"></personal-footer>
        </div>
      </div>
    </div>
  </div>
  <btn-wrapper
    (clickToShowChat)="toggleShowModule($event)"
    (showChat)="getModuleVisible()"
  ></btn-wrapper>
</div>

