
@import '~@angular/material/theming';


@import "~bootstrap/dist/css/bootstrap-grid.min.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

* {
  font-family: 'Open sans';
  padding: 0;
  margin: 0;
}

.custom-link {
  cursor: pointer;
}

.online:before {
  content: "";
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  left: 75%;
  background-color: #57e190;
  border: 1px solid #fff;
  border-radius: 50%;
}

.personal-message {
  padding: 20px 0px;
  height: calc(100vh - 185px);
  overflow: auto;
}


.module .personal-message {
  padding: 20px 0px;
  height: calc(100vh - 370px);
  overflow: auto;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
